<div class="toolbar">
  <button type="button" (click)="onAdd()">新增</button>
  <span>
    <input type="text" placeholder="產品名稱" [formControl]="formControl" />
    <button type="button" (click)="condition = formControl.value">查詢</button>
  </span>
</div>

<app-product-card-list
  [products]="(products$ | async) || []"
  [totalCount]="(totalCount$ | async) || 0"
  [pageIndex]="pageIndex"
  (pageIndexChange)="onOageIndexChange($event)"
  [pageSize]="pageSize"
  (view)="onView($event)"
  (edit)="onEdit($event)"
  (remove)="onRemove($event)"
></app-product-card-list>
